<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <title>Home</title>
    <style>
        body{
            background-color: #C7C8CC;
        }
    </style>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div>
            <a href="/login"><input class="btn btn-info" type="button" value="Normal User"></a>
            <a href="/admin"><input class="btn btn-warning" type="button" value="Admin"></a>
        </div>
    </div>
</body>
</html>